<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
    {% endblock %}</title>
</head>
<body>
    
    {% block main %}
    {% if user.is_authenticated %}
    <p>Bem vindo {{user.username  }}</p>
    <p>{{ message }}</p>
    <ul>
        {% for ativo in ativos %}
            <li><a href="{% url 'update_ativo' ativo.sigla %}">{{ ativo.sigla }}</a> /<a href="{% url 'delete_ativo' ativo.sigla %}">delete</a>/ </li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'novo_ativo'  %}">Registrar novo ativo</a>
    {%else%}
       <a href="{% url 'login' %}">Por favor faça o login para ver a pagina</a>
    {%endif%}
           
    {% block footer %}
    {% endblock %}
    {% endblock %}
</body>
</html>