<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
    {% endblock %}</title>
</head>
<body>
    
    {% block main %}
    <p>{{ message }}</p>
    <ul>
        {% for ativo in ativos %}
            <li><a href="{% url 'delete_ativo' ativo.sigla %}"></a> {{ ativo.sigla }}/<a href="{% url 'delete_ativo' ativo.sigla %}">delete</a>/ </li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'novo_ativo' %}">Registrar novo ativo</a>
    {% endblock %}
           
    {% block footer %}
    {% endblock %}
</body>
</html>