

 

 {% extends 'base.html' %}
 {% block title %} Home de Ativos {% endblock %}
     {% block main %}
      {{form.errors}}
    {% if form.errors %}
    <p>Seu usuario e senha não foram achados. Por favor tente de novo.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Sua conta não tem acesso a essa página.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <div class="form-group">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
      <div>Usuario:</div> 
      <input name="username" class="form-control col-3" type="text">     
      <div>Senha:</div> 
      <input type="password"  name="password" id="inputPassword5" class="form-control col-3" aria-describedby="passwordHelpBlock">
      
      <input type="submit" class="btn btn-primary mt-3" value="Login "> 
  </div>
  </form>
 </div>
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'create_user' %}">Crie um registro</a></p>
  <p><a href="{% url 'password_reset' %}">Perdeu sua senha?</a></p>     
  {% block footer %}
    {% endblock %}
    {% endblock %}     
 